.container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #660000, #030350, #030350, #660000);
}

.wrap {
    box-sizing: border-box;
    position: absolute;
    bottom: 10vh;
    top: 10vh;
    left: 10vw;
    right: 10vw;
    background-color: #686868;
    transition: box-shadow ease-in-out 0.5s;
}

.wrap:hover {
    box-shadow: 0 1px 20px 5px white;
}

.counter {
    position: absolute;
    left: 3vw;
    top: 3vh;
    border: 1px solid black;
    background-color: #feffe7;
    width: 450px;
    font-size: 2rem;
    padding: 1vh 3vw;
    border-radius: 25px;
    color: #030350;
    font-family: "Comic Sans MS";
}

.counter span:last-child, .counter span:nth-child(2) {
    font-weight: bolder;
    color: #660000;
}

.frame {
    width: 775px;
    height: 380px;
    overflow: hidden;
    border: 6px solid black;
    display: none;
    box-sizing: border-box;
}

.image-to-show {
    width: 775px;
    height: 380px;
    display: none;
    box-sizing: border-box;
    transition: transform 0.5s;
    transform: scale(1.01);
}

.image-to-show:hover {
    transform: scale(1.2);
}

.images-wrapper {
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btns {
    margin-top: 5vh;
    display: flex;
    justify-content: flex-end;
}

.btn {
    border: 1px solid black;
    text-decoration: none;
    font-size: 2rem;
    color: black;
    margin: 0 5vw;
    transition: box-shadow, padding linear 0.1s;
}

.btn:hover {
    background-color: #dadada;
    box-shadow: 0 5px 4px 1px #2b2b2b;
}

.btn:hover {
    background-color: #dadada;
    box-shadow: 0 5px 4px 1px #2b2b2b;
}

.btnFirst {
    background-color: lightcoral;
    border-radius: 5px;
    padding: 15px 20px;
}

.btnFirst:active {
    background-color: lightcoral;
    box-shadow: 0 0 0 #2b2b2b;
    font-size: 1.95rem;
}

.btnSecond {
    margin: 0 -3vw;
    background-color: lightgreen;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 5px 30px;
}

.btnSecond:active {
    background-color: lightgreen;
    box-shadow: 0 0 0 #2b2b2b;
    padding: 5px 30px 4px;
}

.show {
    display: block;
}